<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <input matInput
           [(ngModel)]="amount.amount"
           placeholder="{{ 'Nr of points to assign' | translate }}">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           [(ngModel)]="amount.reason"
           placeholder="{{ 'Reason' | translate }}">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onAssignPointsClicked()">{{ 'Assign points' | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>

