<mat-spinner *ngIf="loading"></mat-spinner>
<div class="col-xs-12" *ngIf="!loading">
  <div *ngFor="let firm of firms" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">{{ firm.name}}</h3>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <app-staff-list
        [firm]="firm"
        [loggedInUser]="loggedInUser"
      ></app-staff-list>
    </div>
  </div>
</div>
