<div class="col-md-12">
  <div class="col-md-6">
    <mat-form-field>
      <input matInput
             [(ngModel)]="branch.name" required
             placeholder="{{ 'Name' | translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput
             [(ngModel)]="branch.address"
             placeholder="{{ 'Address' | translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput
             [(ngModel)]="branch.phone"
             placeholder="{{ 'Phone number' | translate}}">
    </mat-form-field>
    <br>
  </div>
  <div class="col-md-6">
    <mat-form-field>
      <input matInput
             [(ngModel)]="branch.email"
             placeholder="{{ 'Email address' | translate}}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput
             [(ngModel)]="branch.site"
             placeholder="{{ 'Website' | translate}}">
    </mat-form-field>
    <br>
  </div>
</div>

