<table *ngIf="products != null" class="table">
  <tr>
    <th>{{ 'PLU' | translate}}</th>
    <th>{{ 'Description' | translate}}</th>
    <th>{{ 'Articlegroup' | translate}}</th>
  </tr>
  <tr *ngFor="let product of products" class="clickable"
  (click)="onProductDetailsClicked(product)">
    <td>{{product.productCode}}</td>
    <td>{{product.name}}</td>
    <td>{{product.articleGroup}}</td>
  </tr>
</table>
