<h1 mat-dialog-title>{{ 'Login' | translate }}</h1>
<div mat-dialog-content>
  <mat-error *ngIf="badLogin">{{ 'Bad Credentials' | translate }}</mat-error>
  <mat-icon>person</mat-icon>
  <mat-form-field>
    <input matInput placeholder="{{ 'enter your username' | translate }}"
           [(ngModel)]="username">
  </mat-form-field>
  <mat-icon>lock</mat-icon>
  <mat-form-field>
    <input matInput placeholder="{{ 'Enter your password' | translate }}"
           [type]="hide ? 'password' : 'text'"
           [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onLoginClicked()">{{ 'Ok' | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</div>
