<div class="panel panel-default">
  <div class="panel-heading">
    <img [src]="image" *ngIf="image!==null" style="max-width: 90%">
    <h3 *ngIf="image==null">{{ title | translate }} {{firm.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="panel" *ngIf="clientAccountFirm!==null">
      <h3>{{'Discount credit' | translate}}: € {{clientAccountFirm.credit | number: '1.2-2'}}</h3>
    </div>
    <span *ngFor="let promotion of promotions">
    <app-promotion
      [promotion]="promotion"
      [loggedInUser]="loggedInUser"></app-promotion>
      </span>
  </div>
</div>
