<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<div mat-dialog-content>
  <h2>
    {{branch.name}}
  </h2>

  <app-branch-details-form [(branch)]="branch">
  </app-branch-details-form>
  <app-branch-registers #branchRegisters
                        [branch]="branch">
  </app-branch-registers>
</div>
<div mat-dialog-actions>
  <div class="btn-group">
    <button
      class="btn btn-trans btn-success" *ngIf="global.isUserInRole('ROLE_OWNER')"
      (click)="branchRegisters.onAddRegisterClicked()">
      {{ "Add register" | translate }}
    </button>
    <button class="btn-trans btn" [disabled]="branch===originalBranch" (click)="onSaveChangesClicked()">
      {{ 'Save changes' | translate }}
    </button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">
      {{ 'Cancel' | translate }}
    </button>
  </div>
</div>

