<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <p>{{ msg | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group" *ngIf="yesNo">
    <button (click)="onYesClicked()" class="btn btn-trans danger">{{ "Yes" | translate }}</button>
    <button (click)="onNoClicked()" class="btn btn-trans">{{ "No" | translate }}</button>
  </div>
  <div class="btn-group" *ngIf="!yesNo">
    <button (click)="onYesClicked()" class="btn btn-trans danger">{{ "Ok" | translate }}</button>
  </div>
</mat-dialog-actions>
