<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">{{ title | translate}} </h3>
      <button class="pull-right btn btn-trans"
              (click)="onSaveChangesClicked(tabGroup.selectedIndex)">
        {{ 'Save changes' | translate }}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <mat-tab-group class="dark" #tabGroup>
        <mat-tab label="{{ 'Common' | translate }}">
        </mat-tab>
        <mat-tab label="{{ 'Email' | translate }}">
          <app-mail-server-configuration-page
          [loggedInUser]="loggedInUser"></app-mail-server-configuration-page>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
