<td>{{ticket.dateTime | date: 'dd/MM/yyyy HH:mm' }}</td>
<td>
  <span tooltip="{{client.cardId}} - {{client.name}} {{client.surname}}" tooltipPlacement="top">
  {{ticket.clientCardNr}}
  </span>
</td>
<td>{{ticket.registerSerialNr}} : {{ticket.ticketNr}}</td>
<td>{{ticket.staffMember}}</td>
<td>€ {{getTicketValue(ticket)}}</td>
<td> {{getTicketStatusString() | translate}}</td>
