<span *ngIf="firms.length>1">
<mat-form-field>
<mat-select [(ngModel)]="selectedFirm" [ngModelOptions]="{standalone: true}"
            placeholder="{{ 'Select a firm to add' | translate }}">
  <mat-option *ngFor="let firm of firms" [value]="firm.id">
    {{ firm.name }}
  </mat-option>
</mat-select>
  </mat-form-field>
<button class="btn btn-trans" [disabled]="selectedFirm===null"
        (click)="onAddFirmClicked()">
  {{ 'Add firm' | translate}}
</button>
</span>
<table class="table well">
  <tr>
    <th>{{ 'Firms' | translate }}</th>
    <th></th>
  </tr>
  <tr *ngFor="let firmId of this.account.firms">
    <td>{{ getFirmNameById(firmId)}}</td>
    <td>
      <button class="pull-right btn btn-trans danger"
              *ngIf="firms.length>1"
              (click)="onDeleteFirmClicked(firmId)">
        {{ 'Delete firm' | translate }}
      </button>
    </td>
  </tr>
</table>
