<mat-spinner *ngIf="loading"></mat-spinner>
<table *ngIf="staff.length != 0" class="table">
  <tr>
    <th>{{ 'Id' | translate }}</th>
    <th>{{ 'Username' | translate }}</th>
    <th>{{ 'Name' | translate }}</th>
    <th>{{ 'Surname' | translate }}</th>
    <th></th>
  </tr>

  <tr *ngFor="let staffMember of staff">
    <td>{{staffMember.id}}</td>
    <td>{{staffMember.username}}</td>
    <td>{{staffMember.name}}</td>
    <td>{{staffMember.surname}}</td>
    <td>
      <button class="btn btn-trans danger pull-right" (click)="onDeleteStaffMemberClicked(staffMember.id)">
        {{ "Delete staff member from branch" | translate }}
      </button>
    </td>
  </tr>
</table>

