<form class="col-md-12" [formGroup]="accountForm">
  <span [ngClass]="{'col-md-6': columns === 2}">
  <mat-form-field id="accountUserName" *ngIf="!global.isUserInRole('ROLE_CLIENT')">
  <input matInput placeholder="{{ 'Username' | translate}}"
         [(ngModel)]="account.username"
         formControlName="username"
         name="username" required>
    <mat-error *ngIf="username.invalid">"{{ 'username is invalid'| translate }}"</mat-error>
</mat-form-field>
<mat-form-field id="accountEmail">
    <input matInput placeholder="{{ 'Email' | translate}}"
           formControlName="email"
           [(ngModel)]="account.email"
           name="email">
</mat-form-field><br>
<mat-form-field id="accountPhone">
    <input matInput placeholder="{{ 'Phone/GSM' | translate}}"
           formControlName="phone"
           [(ngModel)]="account.phone"
           name="phone">
</mat-form-field><br>
  <mat-form-field id="address">
    <input matInput placeholder="{{ 'Address' | translate}}"
           formControlName="address"
           [(ngModel)]="account.address"
           name="address">
  </mat-form-field><br>
  </span>
  <span [ngClass]="{'col-md-6': columns === 2}">
  <mat-form-field id="zipCode">
    <input matInput placeholder="{{ 'Zip code' | translate}}"
           formControlName="zipCode"
           [(ngModel)]="account.zipCode"
           name="zipCode">
  </mat-form-field><br>
  <mat-form-field id="town">
    <input matInput placeholder="{{ 'Town' | translate}}"
           formControlName="town"
           [(ngModel)]="account.town"
           name="note">
  </mat-form-field><br>
<mat-form-field id="note" *ngIf="!global.isUserInRole('ROLE_CLIENT')">
  <textarea matInput placeholder="{{ 'Note' | translate}}"
         formControlName="note"
         [(ngModel)]="account.note"
         name="note"
            rows="5"></textarea>
</mat-form-field><br>
    </span>
</form>
<!--<mat-form-field id="accountPassword">
  <input matInput placeholder="{{ 'Password' | translate }}"
         [type]="'password'" [(ngModel)]="account.password" (change)="logAccount()">
</mat-form-field>
<mat-form-field id="accountPasswordCheck">
  <input matInput placeholder="{{ 'Password' | translate }}"
         [type]="'password'">
</mat-form-field><br>-->
