<mat-spinner *ngIf="loading"></mat-spinner>
<table class="table">
  <tr>
    <th><mat-icon>card_giftcard</mat-icon> {{ "promotion" | translate }}</th>
    <th><mat-icon>timer</mat-icon> {{ "Valid from" | translate }}</th>
    <th><mat-icon>timer_off</mat-icon> {{ "Valid until" | translate }}</th>
    <th><mat-icon>timelapse</mat-icon> {{ "Validate until" | translate }}</th>
    <th></th>
  </tr>
  <tr *ngFor="let promotion of promotions" class="clickable" (click)="onPromotionDetailsClicked(promotion)">
    <td>{{promotion.name | translate }}</td>
    <td>{{ promotion.validFrom | date: 'dd/MM/yyyy' }}</td>
    <td>{{ promotion.validUntil | date: 'dd/MM/yyyy' }}</td>
    <td>{{ promotion.validateUntil | date: 'dd/MM/yyyy' }}</td>
    <td>
      <button class="btn btn-trans danger pull-right" appClickStopPropagation (click)="onDeletePromotionClicked(promotion)">
        {{ 'Delete promotion' | translate}}
      </button>
    </td>
  </tr>
</table>
