<span *ngIf="loggedIn()">
<mat-spinner *ngIf="loading"></mat-spinner>
<div class="col-xs-12" *ngIf="!loading">
  <span *ngFor="let firm of firms">
    <app-firm-promotions-panel
      [firm]="firm"
      [loggedInUser]="loggedInUser">
    </app-firm-promotions-panel>
  </span>
</div>
</span>
<span *ngIf="!loggedIn()">
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{ 'Login' | translate }}</h3>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="col-md-4" (keyup.enter)="onLoginClicked()">
        <mat-icon>person</mat-icon>
        <mat-form-field>
        <input matInput placeholder="{{ 'Enter your username' | translate }}"
               [(ngModel)]="username">
        </mat-form-field>
<br>
        <mat-icon>lock</mat-icon>
        <mat-form-field>
        <input matInput nput placeholder="{{ 'Enter your password' | translate }}"
               [type]="hide ? 'password' : 'text'"
               [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
    </mat-icon>
        </mat-form-field>
        <br>
        <br>
  <button type="submit" class="pull-right btn btn-trans" (click)="onLoginClicked()">{{ 'Login' | translate }}</button>
</div>
    </div>
  </div>
  </div>
</span>
