<button class="btn btn-default pull-right" (click)="onAddStaffMemberClicked()">
  {{ "Add staff member" | translate }}
</button>
<table *ngIf="staff.length != 0" class="table">
  <tr>
    <th>{{ 'Id' | translate }}</th>
    <th>{{ 'Username' | translate }}</th>
    <th>{{ 'Name' | translate }}</th>
    <th>{{ 'Surname' | translate }}</th>
    <th></th>
  </tr>

  <tr *ngFor="let staffMember of staff">
    <td>{{staffMember.id}}</td>
    <td>{{staffMember.username}}</td>
    <td>{{staffMember.name}}</td>
    <td>{{staffMember.surname}}</td>
    <td>
      <span class="btn-group pull-right">
      <button class="btn btn-default" appClickStopPropagation (click)="onResetPasswordClicked(staffMember.id)">
        {{ "Reset password" | translate }}
      </button>
      <button class="btn btn-trans danger" appClickStopPropagation (click)="onDeleteStaffMemberClicked(staffMember.id)">
        {{ "Delete staff member" | translate }}
      </button>
      </span>
    </td>
  </tr>
</table>

