<mat-spinner *ngIf="loading"></mat-spinner>
<table *ngIf="branches != null" class="table">
  <tr>
    <th><mat-icon>store</mat-icon> {{ 'Branche' | translate }}</th>
    <th><mat-icon>home</mat-icon> {{ 'Address' | translate }}</th>
    <th><mat-icon>phone</mat-icon> {{ 'Number' | translate }}</th>
    <th></th>
  </tr>

  <tr *ngFor="let branch of branches" class="clickable" (click)="onBranchDetailsClicked(branch)">
    <td>{{branch.name}}</td>
    <td>{{ branch.address}}</td>
    <td>{{ branch.phone}}</td>
    <td>
      <span class="pull-right" *ngIf="global.isUserInRole('ROLE_OWNER')">
      <button appClickStopPropagation class="btn btn-trans danger"
              (click)="onDeleteBranchClicked(branch.id, branch.name)">
        {{"Delete branch" | translate}}
      </button>
        </span>
    </td>
  </tr>
</table>
