<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">{{ title | translate}} </h3>
      <button class="pull-right btn btn-trans"
              (click)="onAddClientAccountClicked()">
        {{ 'Add client' | translate }}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <table *ngIf="checkClientAccounts()" class="table">
        <tr>
          <th><mat-icon>account_box</mat-icon> {{ 'Username' | translate }}</th>
          <th><mat-icon>email</mat-icon> {{ 'Email' | translate }}</th>
          <th></th>
        </tr>

        <tr *ngFor="let clientAccount of clientAccounts" class="clickable"
            (click)="onClientAccountDetailsClicked(clientAccount)">
          <td>{{clientAccount.username}}</td>
          <td>{{clientAccount.email}}</td>
          <td>
        <div class="btn-group pull-right">
          <button class="btn btn-trans" appClickStopPropagation (click)="onResetPasswordClicked(clientAccount)">
            {{ 'Reset password' | translate }}
          </button>
          <button class="btn btn-trans danger" appClickStopPropagation (click)="onDeleteClientAccountCliecked(clientAccount)">
            {{ 'Delete client account' | translate }}
          </button>
        </div>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

