<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="{{ 'Promotion description' | translate }}">
      <app-promotion-description-form
        [(promotion)]="promotion"
        (valid)="validateDescription($event)"
      ></app-promotion-description-form>
    </mat-tab>
    <span *ngIf="isNewPromotion()">
    <mat-tab label="{{ 'Configuration' | translate}}">
      <app-promotion-configuration-form
        [(promotion)]="promotion"
        [firm]="firm"
        [loggedInUser]="loggedInUser"
        (valid)="validateConfiguration($event)"
      ></app-promotion-configuration-form>
    </mat-tab>
    <mat-tab label="{{ 'Firm and branches' | translate}}">
      <app-promotion-branches-form
        [(promotion)]="promotion"
        [(data)]="data"
        (valid)="validateBranches($event)"
      ></app-promotion-branches-form>
    </mat-tab>
    </span>

    <span *ngIf="!isNewPromotion()">
      <mat-tab label="{{ 'Configuration' | translate }}">
      <app-promotion-details-configuration
        [(promotion)]="promotion"
        [firm]="firm"
        [loggedInUser]="loggedInUser"
        (valid)="validateConfiguration($event)"
      ></app-promotion-details-configuration>
      </mat-tab>
    </span>

  </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onSaveClicked()" [disabled]="!checkRequiredFields()">{{ "Save" | translate
      }}
    </button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
