<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <input matInput
           [(ngModel)]="firmName" required
           placeholder="{{ 'Firm name' | translate}}">
  </mat-form-field>
  <mat-form-field *ngIf='userRole==="ROLE_ADMIN"'>
    <mat-select
      [(ngModel)]="assignedTo" required
      placeholder="{{ 'Assign firm to ...' | translate }}">
      <mat-option *ngFor="let owner of owners"></mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onSaveClicked()">{{ "Save" | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
