<div class="dark" >
  <mat-form-field>
    <input matInput [(ngModel)]="smtpServerConfiguration.host"
    placeholder="SMTP {{ 'host' | translate}}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="smtpServerConfiguration.port"
           placeholder="SMTP {{ 'port' | translate}}">
  </mat-form-field>
  <br>
  <p><mat-slide-toggle [(ngModel)]="smtpServerConfiguration.auth"></mat-slide-toggle>
    {{ 'Authentication' | translate}}
  </p>
  <mat-form-field>
    <input matInput [(ngModel)]="smtpServerConfiguration.username"
           placeholder="{{ 'username' | translate}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="password"
           placeholder="{{ 'Password' | translate }}" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{ hide? 'visibility' : 'visibility_off' }}</mat-icon>
  </mat-form-field>
  <button class="btn btn-trans danger" (click)="onUpdatePasswordClicked()">{{ 'Update password' | translate }}</button>
  <p><mat-slide-toggle [(ngModel)]="smtpServerConfiguration.startTls"></mat-slide-toggle>
    {{ 'Starter TLS' | translate}}
  </p>
</div>
