<table class="table">
  <tr>
    <th>{{ 'PLU' | translate }}</th>
    <th>{{ 'Description' | translate }}</th>
    <th>{{ 'Quantity' | translate}}</th>
    <th>{{ 'Price' | translate }}</th>
    <th>{{ 'Price incl. Discount' | translate}}</th>
  </tr>
  <tr  *ngFor="let ticketProductGroup of groupedTicketProducts">
    <td>{{ ticketProductGroup.plu}}</td>
    <td>{{ticketProductGroup.description}}</td>
    <td>{{ticketProductGroup.ticketProducts.length}}</td>
    <td>€ {{ticketProductGroup.price}}</td>
    <td>€ {{ticketProductGroup.priceInclDiscount}}</td>
</tr>
  <tr>
    <td></td>
    <th>{{ 'Total' | translate }}:</th>
    <td></td>
    <th>€ {{getTotalPrice(false)}}</th>
    <th>€ {{getTotalPrice(true)}}</th>
  </tr>
</table>
