<div class="col-xs-12">
  <div *ngFor="let firm of firms" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left" *ngIf="firms.length > 1">{{ firm.name}}</h3>
      <h3 class="panel-title pull-left" *ngIf="firms.length == 1">{{ title | translate }}</h3>
      <button class="pull-right btn btn-trans"
              (click)="appProducts.onAddProductClicked()">
        {{ 'Add article' | translate }}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">

      <app-products-table
        #appProducts
        [firm]="firm">
      </app-products-table>
    </div>
  </div>
</div>
