<mat-radio-group #promoTypeRadio [(ngModel)]="promotion.type">
  <mat-radio-button *ngFor="let promoType of promoTypes" [value]="promoType.id">
    {{promoType.name | translate}}
  </mat-radio-button>
</mat-radio-group><br>
<div *ngIf="promotion.type===0">
  <mat-form-field>
    <input matInput type="number" required placeholder="{{ 'Point value' | translate }}"
           [(ngModel)]="promotion.valueOfPoint">
    <mat-icon matPrefix>euro_symbol</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" required placeholder="# {{ 'Points needed' | translate }}"
           [(ngModel)]="promotion.valueGift">
  </mat-form-field>
  <br>

  <mat-radio-group #valuePromoTypeRadio [(ngModel)]="promotion.valuePromotionType">
    <mat-radio-button *ngFor="let promoType of valuePromoTypes" [value]="promoType.id">
      {{promoType.name | translate}}
    </mat-radio-button>
  </mat-radio-group><br>

  <span id="valuePromotionWithGiftArticleForm" *ngIf="promotion.valuePromotionType===0">
  <mat-form-field>
    <mat-select placeholder="{{ 'Select reward' | translate }}" [(ngModel)]="promotion.giftArticleId">
      <mat-option *ngFor="let reward of rewards" [value]="reward.id">
        {{ reward.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="btn btn-trans" (click)="onAddNewRewardClicked()">{{ 'Add new reward' | translate }}</button>
  </span>

  <span id="valuePromotionWithDirectDiscountForm" *ngIf="promotion.valuePromotionType===1">
    <mat-form-field>
      <input matInput type="number" required placeholder="{{ 'Discount value' | translate }}"
      [(ngModel)]="promotion.giftAmount">
    <mat-icon matPrefix>euro_symbol</mat-icon>
    </mat-form-field>
  </span>

</div>
<mat-form-field>
  <input matInput [matDatepicker]="pickerStart" placeholder="{{'Start date' | translate}}"
         [(ngModel)]="promotion.validFrom">
  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
  <mat-datepicker #pickerStart></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="pickerEnd" placeholder="{{'End date' | translate}}"
         [(ngModel)]="promotion.validUntil">
  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
  <mat-datepicker #pickerEnd></mat-datepicker>
</mat-form-field><br>
<mat-form-field
  *ngIf="promotion.type!==0 ||
    (promotion.type===0 && promotion.valuePromotionType===0)">
  <input matInput [matDatepicker]="pickerValid" placeholder="{{'Validation deadline' | translate}}"
         [(ngModel)]="promotion.validateUntil">
  <mat-datepicker-toggle matSuffix [for]="pickerValid"></mat-datepicker-toggle>
  <mat-datepicker #pickerValid></mat-datepicker>
</mat-form-field>

