<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Select from existing staff" [(ngModel)]="selectedStaffMember">
      <mat-option *ngFor="let staffMember of staffMembers"
                  [value]="staffMember">{{staffMember.id}} - {{staffMember.username}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn-trans btn" (click)="onSaveClicked()" [disabled]="selectedStaffMember===null">{{ "Save" | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
