<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <input matInput required placeholder="{{ 'Product name' | translate }}"
           [(ngModel)]="product.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput required placeholder="{{ 'Product code' | translate }}"
           [(ngModel)]="product.productCode">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="{{ 'Productgroup' | translate }}"
           [(ngModel)]="product.articleGroup">
  </mat-form-field>
  <br>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onSaveClicked()">{{ "Save" | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
