<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <table class="table">
    <tr>
      <th>{{ 'Date' | translate }}</th>
      <th>{{ 'Client card' | translate}}</th>
      <th>{{ 'register' | translate }} : {{ 'ticket' | translate}}</th>
      <th>{{ 'Staff member' | translate }}</th>
      <th>{{ 'Ticket value' | translate }}</th>
      <th>{{ 'Ticket status' | translate }}</th>
    </tr>
    <tr [ticket]="ticket" class="{{ticket.ticketStatus}}"
        app-client-details-ticket-row>
    </tr>
  </table>
  <app-ticket-details-product-list
    [ticket]="ticket">
  </app-ticket-details-product-list>

  <table *ngIf="ticket.promotions.length >= 0" class="table">
    <tr>
      <th>{{'Promotion' | translate }}</th>
      <th>{{'Points ticket' | translate}}</th>
    </tr>
    <tr *ngFor="let promotion of ticket.promotions" [promotion]="promotion"
        app-client-details-ticket-promotion-row>
    </tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onCancelClicked()">{{'Close' | translate }}</button>
  </div>
</mat-dialog-actions>
