<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <input matInput
           [(ngModel)]="staffMember.name" required
           placeholder="{{ 'Name' | translate}}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput
           [(ngModel)]="staffMember.surname" required
           placeholder="{{ 'Surname' | translate}}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput
           [(ngModel)]="staffMember.email" required
           placeholder="{{ 'Email' | translate}}">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput
           [(ngModel)]="staffMember.username" required
           placeholder="{{ 'Username' | translate}}">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onSaveClicked()">{{ "Save" | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
