<mat-spinner *ngIf="loading"></mat-spinner>
<table *ngIf="registers.length != 0" class="table">
  <tr>
    <th><mat-icon svgIcon="register"></mat-icon> {{ 'Register' | translate }}</th>
    <th>{{ 'SerialNr' | translate }}</th>
    <th></th>
  </tr>

  <tr *ngFor="let register of registers">
    <td>{{register.description}}</td>
    <td>{{register.serialNr}}</td>
    <td>
      <button *ngIf="global.isUserInRole('ROLE_OWNER')" class="btn btn-trans danger pull-right" (click)="onDeleteRegisterClicked(register.id)">
        {{ "Delete register" | translate }}
      </button>
    </td>
  </tr>
</table>
