<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title + ' ' + data.clientAccount.username"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-tab-group #tabGroup>

    <mat-tab label="{{ 'Details' | translate}}">
      <app-new-account-form [(account)]="clientAccount" [columns]="2" (valid)="validateAccount($event)">
      </app-new-account-form>
    </mat-tab>

    <mat-tab label="{{ 'Client cards' | translate }}">
      <app-client-clientcards #clientCards
                              [clientAccount]="clientAccount"
                              [loggedInUser]="loggedInUser">
      </app-client-clientcards>
    </mat-tab>

    <mat-tab label="{{ 'Promotions' | translate}}">
      <app-client-details-promotions-form [clientAccount]="clientAccount"></app-client-details-promotions-form>
    </mat-tab>

    <mat-tab label="{{ 'Firm configurations' | translate }}">
      <app-client-firms
        [clientAccount]="clientAccount"
        [loggedInUser]="loggedInUser">
      </app-client-firms>
    </mat-tab>
    <mat-tab label="{{ 'History' | translate }}">
      <app-client-details-history
        [clientAccount]="clientAccount">
      </app-client-details-history>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button *ngIf="tabGroup.selectedIndex === 0"
            class="btn btn-trans" [disabled]="!isClientAccountChanged"
            (click)="onSaveChangesClicked()">
      {{ "Save changes" | translate }}
    </button>
    <button *ngIf="tabGroup.selectedIndex === 1 && !global.isUserInRole('ROLE_CLIENT')"
            class="btn btn-trans" (click)="clientCards.onAddClientClicked()">
      {{ "Add client card" | translate }}
    </button>
    <button *ngIf="global.isUserInRole('ROLE_CLIENT')" class="btn btn-trans"
    (click)="onChangePasswordClicked()">
      {{"Change password" | translate}}
    </button>
    <button class="btn-trans btn danger" (click)="onCancelClicked()">
      {{'Close' | translate }}
    </button>
  </div>
</mat-dialog-actions>

