<div class="col-xs-12">
  <mat-spinner *ngIf="loading"></mat-spinner>

  <span *ngIf="!loading">
  <div *ngFor="let firm of firms" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left" *ngIf="firms.length > 1">{{ firm.name}}</h3>
      <h3 class="panel-title pull-left" *ngIf="firms.length == 1">{{ "Branches" | translate }}</h3>
        <div class="btn-group pull-right" *ngIf="global.isUserInRole('ROLE_OWNER')">
      <button class="btn btn-trans" (click)="appBranches.onAddBranchClicked()">
        {{ "Add branch" | translate}}
      </button>
      <button class="btn btn-trans danger" (click)="onDeleteFirmClicked(firm)">
        {{ "Delete firm" | translate}}
      </button>
        </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <app-branches #appBranches
                    [firm]="firm"
                    (deleteFirm)="onDeleteFirmClicked($event, firm.name)">
      </app-branches>
    </div>
  </div>
  <button *ngIf="checkCanAddFirm()" class="btn btn-trans"
          (click)="onAddFirmClicked()">
    {{ "Add firm" | translate }}
  </button>
    </span>
</div>
