<p>{{'Discount credit' | translate}}: € {{clientAccountFirm.credit | number: '1.2-2'}}</p>
    <button *ngIf="!global.isUserInRole('ROLE_CLIENT')" class="btn btn-trans"
    (click)="onAssignCreditClicked()">{{"Manual assignment" | translate}}</button>
<br><br>
<table class="table">
  <thead>
  <td>{{"Promotion" | translate}}</td>
  <td>{{"Points collected" | translate}}</td>
  <td>{{"Gifts to collect" | translate}}</td>
  <td></td>
  </thead>
  <tbody>
    <tr app-client-details-promotion *ngFor="let promotion of promotions"
        [promotion]="promotion"
        [clientAccountId]="clientAccountId"
    ></tr>
  </tbody>
</table>
