<nav class="navbar navbar-inverse" style="margin-bottom: 0">
  <div class="container-fluid"> <!-- Div for responsive menu-->
    <img class="site-logo col-xs-3" [src]="global.companyLogo">
    <!--<img class="site-logo col-xs-3" [src]="">-->
    <!--<img class="coll-xs-6" src="">-->
      <button *ngIf="global.currentMenu"
              (click)="toggleTopNavCollapse()"
              type="button" class="navbar-toggle">
        <span class="icon-bar"></span> <!-- Responsive menu icon -->
        <span class="icon-bar"></span> <!-- Responsive menu icon -->
        <span class="icon-bar"></span> <!-- Responsive menu icon -->
      </button>

    <span class="col-md-9 col-xs-6 pull-right">

    <div class="navbar-header">
    </div>

      <ul class="nav navbar-nav navbar-right" ng-controller="menuController as menuCtrl">
        <li *ngIf="!global.isLoggedIn()">
          <a class="navbar-foreground-white navbar-item showPointer" (click)="openLoginDialog()">
            <mat-icon>exit_to_app</mat-icon>
            {{ 'Login' | translate }}
          </a>
        </li>
        <li *ngIf="global.isLoggedIn()">
          <a class="navbar-foreground-white navbar-item showPointer" (click)="onAccountDetailsClicked()">
            <mat-icon>account_circle</mat-icon>
            {{ 'Logged in as' | translate }} {{ loggedInUser.username }}
          </a>
        </li>
        <li *ngIf="global.isLoggedIn()">
          <a class="navbar-foreground-white navbar-item showPointer" (click)="onLogoutClicked()">
            <mat-icon svgIcon="logout"></mat-icon>
            {{ 'Logout' | translate}}
          </a>
        </li>
      </ul>

    </span>

  </div> <!-- End div for responsive menu-->
</nav>
<div id="top-menu" class="container-fluid" [@menuSlideDown]="menuState">

  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="responsiveMenu"> <!-- Div for responsive menu -->
      <ul *ngIf="global.currentMenu" class="nav navbar-nav">
        <li *ngFor="let menuItem of global.currentMenu.menu">
          <a routerLink="{{ menuItem.href + '/' + global.company}}" class="navbar-item navbar-foreground-white">
            {{ menuItem.title | translate}}
          </a>
        </li>
      </ul>
    </div>  <!-- End div for responsive menu-->

    <div class="collapse" [class.show]="showTopNav" *ngIf="global.currentMenu">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li *ngFor="let menuItem of global.currentMenu.menu">
          <a routerLink="{{ menuItem.href + '/' + global.company }}" class="navbar-item navbar-foreground-white"
             (click)="toggleTopNavCollapse()">
            {{ menuItem.title | translate}}
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
