<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<div mat-dialog-content (keyup.enter)="onLoginClicked()">
  <mat-error *ngIf="badLogin">{{ 'Bad Credentials' | translate }}</mat-error>
  <mat-form-field>
    <input matInput placeholder="{{ 'Enter your username' | translate }}"
           [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{ 'Enter your password' | translate }}"
           [type]="hide ? 'password' : 'text'"
           [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div class="btn-group">
    <button type="submit" class="btn btn-trans" (click)="onLoginClicked()">{{ 'Ok' | translate }}</button>
    <button type="reset" class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</div>
