<span *ngIf="tickets.length > 0">
<h3>{{ 'Tickets' | translate }}</h3>
<table class="table">
  <tr>
    <th>{{ 'Date' | translate }}</th>
    <th>{{ 'Client card' | translate}}</th>
    <th>{{ 'register' | translate }} : {{ 'ticket' | translate}}</th>
    <th>{{ 'Staff member' | translate }}</th>
    <th>{{ 'Ticket value' | translate }}</th>
    <th>{{ 'Ticket status' | translate }}</th>
  </tr>
  <tr *ngFor="let ticket of tickets"
      class="clickable {{ticket.ticketStatus}}"
      [ticket]="ticket"
      app-client-details-ticket-row
  (click)="showTicketDetails(ticket)">
  </tr>
</table>
</span>

<span *ngIf="creditTransfers.length > 0">
<h3>{{ 'Manually assigned credit' | translate }}</h3>
<table class="table">
  <tr>
    <th>{{ 'Date' | translate }}</th>
    <th>{{ 'Assigned By' | translate }}</th>
    <th>{{ 'Reason' | translate }}</th>
    <th>{{ 'Quantity' | translate }}</th>
  </tr>
  <tr *ngFor="let creditTransfer of creditTransfers"
      class="{{ creditTransfer.quantity >= 0 ? 'positive_row' : 'negative_row' }}"
      [creditTransfer]="creditTransfer"
      app-client-details-credit-transfer-row>
  </tr>
</table>
</span>

<span *ngIf="pointTransfers.length > 0">
<h3>{{ 'Manually assigned points' | translate }}</h3>
<table class="table">
  <tr>
    <th>{{ 'Date' | translate }}</th>
    <th>{{ 'Assigned By' | translate }}</th>
    <th>{{ 'Reason' | translate }}</th>
    <th>{{ 'Promotion' | translate }}</th>
    <th>{{ 'Quantity' | translate }}</th>
  </tr>
  <tr *ngFor="let pointTransfer of pointTransfers"
  class="{{ pointTransfer.quantity >= 0 ? 'positive_row' : 'negative_row' }}"
  [pointTransfer]="pointTransfer"
  app-client-details-point-transfer-row>
  </tr>
</table>
</span>
