<mat-spinner *ngIf="false"></mat-spinner>
<table *ngIf="true" class="table">
  <tr>
    <th>{{ 'Firm' | translate }}</th>
    <th>{{ 'Receive newsletter' | translate }}</th>
    <th>{{ 'Receive promotions' | translate }}</th>
    <th></th>
  </tr>
  <tr *ngFor="let firm of firms">
    <td>{{ firm.firmName }}</td>
    <td class="text-center">
      <mat-checkbox [(ngModel)]="firm.receiveNewsletter"></mat-checkbox>
    </td>
    <td class="text-center">
      <mat-checkbox [(ngModel)]="firm.receivePromotions"></mat-checkbox>
    </td>
    <td>
      <span class="btn-group pull-right">
      <button class="btn btn-trans" (click)="onSaveChangesClicked(firm)"
              *ngIf="isClientAccountFirmChamged(firm)">
        {{ "Save changes" | translate }}
      </button>
      <button *ngIf="global.isUserInRole('ROLE_OWNER')" class="btn btn-trans danger" (click)="onDeleteFirmClicked(client.id)">
        {{ "Delete firm" | translate }}
      </button>
      </span>
    </td>
  </tr>
</table>

