<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <input matInput required placeholder="{{ 'Reward title' | translate }}"
           [(ngModel)]="reward.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedProduct" [ngModelOptions]="{standalone: true}"
                placeholder="{{ 'Select product to add' | translate }}">
      <mat-option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-group">
    <button class="btn btn-trans"
            (click)="onAddProductClicked()">
      {{ 'Add product' | translate }}
    </button>
    <button class="btn btn-trans"
            (click)="onNewProductClicked()">
      {{ 'New product' | translate }}
    </button>
  </div>
  <table class="table well">
    <tr>
      <th>{{ 'Product' | translate}}</th>
      <th></th>
    </tr>
    <tr *ngFor="let productId of this.reward.products">
      <td>{{getProductNameForId(productId)}}</td>
      <td>
        <button class="pull-right btn btn-trans danger"
                (click)="onDeleteProductClicked(productId)">
          {{"Delete branch" | translate}}
        </button>
      </td>
    </tr>

  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onSaveClicked()" [disabled]="true">{{ "Save" | translate }}</button>
    <button class="btn btn-trans" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>

