<form [formGroup]="clientForm">
<mat-form-field>
  <input matInput placeholder="{{ 'Name' | translate}}"
         formControlName="name" [(ngModel)]="client.name">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="{{ 'Surname' | translate}}"
         formControlName="surname" [(ngModel)]="client.surname">
</mat-form-field><br>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="{{'Birthday' | translate}}"
         formControlName="birthday" [(ngModel)]="client.birthday">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{ 'Client card' | translate}}"
           formControlName="cardId" [(ngModel)]="client.cardId">
  </mat-form-field>
  <br>
</form>

