<mat-spinner *ngIf="loading"></mat-spinner>
<table *ngIf="true" class="table">
  <tr>
    <th><mat-icon svgIcon="barcode"></mat-icon> {{ 'CardNr' | translate }}</th>
    <th><mat-icon>account_box</mat-icon>{{ 'Name' | translate }}</th>
    <th>{{ 'Surname' | translate }}</th>
    <th></th>
  </tr>
  <tr *ngFor="let client of clients">
    <td>{{client.cardId}}</td>
    <td>{{client.name}}</td>
    <td>{{client.surname}}</td>
    <td>
      <button *ngIf="!global.isUserInRole('ROLE_CLIENT')" class="btn btn-trans danger pull-right" (click)="onDeleteClientClicked(client.id)">
        {{ "Delete clientCard" | translate }}
      </button>
    </td>
  </tr>
</table>

