<mat-spinner *ngIf="loading"></mat-spinner>
<div class="col-xs-12" *ngIf="!loading">
  <div *ngFor="let firm of firms" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left" *ngIf="firms.length > 1">{{ firm.name}}</h3>
      <h3 class="panel-title pull-left" *ngIf="firms.length === 1">{{ "Promotions" | translate }}</h3>
      <button class="btn btn-trans pull-right"
              (click)="appPromotions.onAddPromotionClicked()"
              *ngIf="isUserOwnerOrStaff()">
        {{ 'Add promotion' | translate }}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <app-promotions #appPromotions [firm]="firm"></app-promotions>
    </div>
  </div>
</div>

