<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
      <app-new-client-form [(client)]="client" (valid)="validateClient($event)"></app-new-client-form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onSaveClicked()" [disabled]="!formValid">{{ "Save" | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>

