<table>
  <tr>
    <td>{{ 'Title' | translate }}:</td>
    <td>{{promotion.name}}</td>
  </tr>
  <tr>
    <td>
      {{ 'Description' | translate }}:
    </td>
    <td>
      <p class="line-break">{{promotion.description}}</p>
    </td>
  </tr>
</table>
<br>
<br> <br>

