<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <input matInput
           [(ngModel)]="register.description" required
           placeholder="{{ 'Description' | translate}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           [(ngModel)]="register.serialNr" required
           placeholder="{{ 'SerialNr' | translate}}">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn-trans btn" (click)="onSaveClicked()">{{ "Save" | translate }}</button>
    <button class="btn btn-trans" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
