<div class="col-md-6">
  <h3>{{ getPromotionType() | translate }} <span *ngIf="promotion.type === 0"> - {{ getValuePromotionType() | translate }}</span></h3>
<span *ngIf="promotion.type === 0">
<p>{{ 'Point value' | translate }}: € {{ promotion.valueOfPoint | number:'1.2-2' }}</p>
<p>{{ 'Points needed' | translate }}: {{ promotion.valueGift }}</p>
  <span *ngIf="promotion.valuePromotionType === 0">
    <p>{{ 'Reward' | translate}}: {{getReward()}}</p>
  </span>
  <span *ngIf="promotion.valuePromotionType === 1">
    <p>{{ 'Discount value' | translate }}: € {{ promotion.giftAmount | number:'1.2-2' }}</p>
  </span>
</span>
<p>{{ 'Start date' | translate}}: {{ promotion.validFrom | date:'dd/MM/yyyy' }}</p>
<p>{{ 'End date' | translate}}: {{ promotion.validUntil | date:'dd/MM/yyyy' }}</p>
<p *ngIf="promotion.type !== 0 ||
(promotion.type === 0 && promotion.valuePromotionType === 0)">
  {{ 'Validation deadline' | translate}}: {{ promotion.validateUntil | date:'dd/MM/yyyy' }}
</p>
</div>
<div class="col-md-6">
  <h3>{{ 'Valid at' | translate}}:</h3>
  <p *ngIf="promotion.firmPromotion"> {{ 'All branches of' | translate }} {{ firm.name }}</p>
  <span *ngIf="!promotion.firmPromotion">
    <p *ngFor="let branch of promotion.branches">
      {{ getBranchString(branch) }}
    </p>
  </span>
</div>
