<div *ngFor="let firm of firms">
  <h3 *ngIf="firms.length > 1">{{firm.name}}</h3>
  <app-client-details-promotions-for-firm
    [firm]="firm"
    [clientAccountId]="clientAccount.id"
  ></app-client-details-promotions-for-firm>
</div>
