<mat-form-field>
  <input matInput required placeholder="{{ 'Promotion name' | translate }}"
         [(ngModel)]="promotion.name">
</mat-form-field>
<br>
<mat-form-field>
        <textarea #description matTextareaAutosize matInput
                  placeholder="{{ 'Description' | translate}}"
                  [(ngModel)]="promotion.description"
        rows="5"></textarea>
  <mat-hint align="end">{{description.value.length}}</mat-hint>
</mat-form-field>

