  <td>{{promotion.name}}</td>
<td>{{collectedPoints.amount}} / {{ promotion.valueGift}}</td>
  <td>{{giftArticlesToCollect.amount}}</td>
<td><button *ngIf="!global.isUserInRole('ROLE_CLIENT')" class="btn btn-trans pull-right"
(click)="onAssignPointsClicked()">{{"Manual assignment" | translate}}</button> </td>

