<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="{{ 'Current password' | translate }}"
           [type]="hide1 ? 'password' : 'text'"
           [(ngModel)]="oldPassword">
    <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{ 'Enter new password' | translate }}"
           [type]="hide2 ? 'password' : 'text'"
           [(ngModel)]="newPassword">
    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{ 'Reenter new password' | translate }}"
           [type]="hide3 ? 'password' : 'text'"
           [(ngModel)]="newPasswordCheck">
    <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button *ngIf="global.isUserInRole('ROLE_CLIENT')" class="btn btn-trans"
            (click)="onChangePasswordClicked()">
      {{"Change password" | translate}}
    </button>
    <button class="btn-trans btn danger" (click)="onCancelClicked()">
      {{'Close' | translate }}
    </button>
  </div>
</mat-dialog-actions>
