<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>

  <mat-tab-group #tabGroup *ngIf="false">
    <mat-tab label="{{ 'Client details' | translate }}">
      <app-new-account-form [(account)]="account" (valid)="validateAccount($event)"></app-new-account-form>
      <app-new-client-form [(client)]="client" (valid)="validateClient($event)"></app-new-client-form>
    </mat-tab>
    <mat-tab label="{{ 'Client firms' | translate }}" [disabled]="!clientDetailsValid">
      <app-client-firms-form
        [(account)]="account"
        [loggedInUser]="loggedInUser"
        (valid)="validateFirms($event)"
      >
      </app-client-firms-form>
    </mat-tab>
  </mat-tab-group>

  <span class="col-md-12">
    <app-new-account-form class="col-md-6" [(account)]="account" [columns]="1" (valid)="validateAccount($event)"></app-new-account-form>
    <app-new-client-form class="col-md-6" [(client)]="client" (valid)="validateClient($event)"></app-new-client-form>
      <app-client-firms-form hidden
        [(account)]="account"
        [loggedInUser]="loggedInUser"
        (valid)="validateFirms($event)"
      >
      </app-client-firms-form>
  </span>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button class="btn btn-trans" (click)="onSaveClicked()" [disabled]="!checkRequiredFields()">{{ "Save" | translate }}</button>
    <button class="btn btn-trans danger" (click)="onCancelClicked()">{{'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>

