<div class="panel panel-default">
  <div class="panel-heading">
    <p class="pull-right">
      <mat-icon>timer</mat-icon>
      {{promotion.validFrom | date: 'dd/MM/yyyy' }}

      <span *ngIf="promotion.validateUntil !== null">
        <mat-icon>timer_off</mat-icon>
        {{ promotion.validateUntil | date :'dd/MM/yyyy'}}
      </span>

    </p>
    <h2>{{promotion.name}}</h2>
  </div>
  <div class="panel-body">
    <p>
    {{promotion.description}}
    </p>
    <div>
      <mat-icon>loyalty</mat-icon>
      {{ 'Collected points' | translate }} : {{pointsCollected}} / {{promotion.valueGift}}<br>
      <span *ngIf="promotion.type!==0 || (promotion.type===0 && promotion.valuePromotionType!==1)">
      <mat-icon>card_giftcard</mat-icon>
      {{ 'Gifts to collect' | translate }} : {{giftsToCollect}} <br>
      </span>
    </div>
    <br>

    <div *ngIf="!promotion.firmPromotion">
      <h4>{{ 'this promotion applies in the following locations' | translate }}:</h4>

      <div class="panel">
        <table class="table">
          <tr>
            <th>
              <mat-icon>store</mat-icon>
              {{ 'Branche' | translate }}
            </th>
            <th>
              <mat-icon>home</mat-icon>
              {{ 'Address' | translate }}
            </th>
            <th>
              <mat-icon svgIcon="earth"></mat-icon>
              {{ 'Homepage' | translate }}
            </th>
            <th></th>
          </tr>
        <tr *ngFor="let branchId of promotion.branches"
            app-branch-short-description
            [branchId]="branchId"
            [loggedInUser]="loggedInUser">
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>
