<app-mat-dialog-title
  (onCancelClickedEmitter)="onCancelClicked()"
  [title]="title"
></app-mat-dialog-title>
<mat-dialog-content>
  <p>{{ 'The new password is' | translate}}: </p>
  <h3>{{ password }}</h3>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-group">
    <button (click)="onOkClicked()" class="btn btn-trans danger">{{ "Ok" | translate }}</button>
  </div>
</mat-dialog-actions>
