/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.site-logo {
  height: auto;
  width: 200px;
}
body {
  height: 100%;
  margin: 0;
  background: rgba(52, 60, 60, 1);
  color: white;
  background-image: none;
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

table, th, td {
  border: 0 hidden !important;
}

tbody {
  border: hidden !important;
}

.line-break {
  width: 100%;
  word-break: keep-all;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.clickable:hover, .btn-trans:hover {
  color: #f0d6b5;
  cursor: pointer;
}

.S10, .S15, .S20, .S25, .S30, .S35, .S40, .S45, .S50, .S55 {
  background-color: rgba(229, 211, 82,0.4);
  border-radius: 4px;
}

.S70, .negative_row{
  background-color: rgba(172, 57, 49,0.4);
  border-radius: 4px;
}

.S60, .positive_row {
  background-color: rgba(0, 128, 0,0.4);
  border-radius: 4px;
}

/**BUTTON**/
/**********/

.btn-trans {
  background-color: rgba(255, 228, 196, 0.09);
  border: 1px solid white;
  color: white;
}

.btn-trans:hover {
  background-color: rgba(255, 228, 196, 0.19);
}

.btn-trans:focus {
  color: white;
}

.btn-trans.danger {
  background-color: rgba(220, 0, 0, 0.4);
}

.danger:hover {
  background-color: rgba(220, 0, 0, 0.6);
}

/**NAVBAR**/
/**********/

.navbar-inverse {
  background-color: black;
}
/**TOP_MENU**/
/************/

#top-menu {
  background-color: #222222;
  border: 1px solid rgba(48, 86, 119, 1);
  border-top: 0;
  margin: 0 15px 15px;
  color: white !important;
  min-height: 9px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

#top-menu a {
  color: #9d9d9d;
}

#top-menu a:hover {
  color: white;
  background-color: black;
}

#top-menu a:active, #top-menu a:focus {
  color: white;
  background-color: #222222;
}

/**PANEL**/
/*********/

.panel, .panel .panel .panel {
  background-color: rgba(34, 34, 34, 1);
  color: white;
  border: 1px solid rgba(48, 86, 119, 1);
  position: relative;
  padding: 0 20px 10px;
}

.panel .panel {
  background-color: black;
}

.panel-heading {
  background-color: inherit !important;
  color: white !important;
  position: relative;
  z-index: 1;
  border-bottom: 0 !important;
}

.panel-heading {
  min-height: 55px;
  overflow: hidden;
  margin-right: 15px;
}


/***********************************************************/

/**************/
/***MATERIAL***/
/**************/

.mat-stepper-horizontal, .mat-stepper-vertical {
  display: initial !important;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-icon {
  vertical-align: middle;
}

.mat-icon-text {
  padding-top: 10px;
}

mat-spinner {
  margin: 0 auto;
}

/**DIALOG**/
/**********/

.mat-dialog-container {
  background-color: rgba(52, 60, 60, 1) !important;
  border: 1px solid rgba(48, 86, 119, 1);
  color: white !important;
}

.mat-dialog-title {
  position: relative;
  font-size: 38px;
  padding-bottom: 20px;
}

.mat-dialog-title:after, .panel-heading:first-child:before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  height: 2px;
  right: 15px;
  border-bottom: 1px solid white !important;
}

md-dialog.fullscreen-dialog {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

a {
  cursor: pointer !important;
}

/**FORM**/
/********/

.mat-form-field {
  width: 90%;
}

input {
  width: 90%;
}

.mat-form-field mat-icon {
  color: white;
}

mat-form-field {
  color: #f0d6b5 !important;
}

.mat-input-placeholder {
  color: white !important;
}

.mat-form-field-underline {
  background-color: rgba(48, 86, 119, 1) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

/**MAT-TAB**/
/***********/

.mat-tab-header {
  margin-bottom: 20px;
}

.mat-tab-label {
  color: white !important;
}

