<div>
  <form>
    <mat-checkbox name="checky" #checkbox [(ngModel)]="promotion.firmPromotion">
      {{ 'Firm wide promotion ' | translate }}
    </mat-checkbox>
    <div *ngIf="!promotion.firmPromotion">
      <div class="col-md-12">
        <mat-form-field class="col-md-9">
          <mat-select [(ngModel)]="selectedBranch" [ngModelOptions]="{standalone: true}"
                      placeholder="{{ 'Select branch to add' | translate }}">
            <mat-option *ngFor="let branch of branches" [value]="branch.id">
              {{ branch.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-trans col-md-2" [disabled]="selectedBranch===null"
                (click)="onAddBranchClicked()">
          {{ 'Add branch' }}
        </button>
      </div>
      <div class="panel col-md-12" *ngIf="this.promotion.branches.length > 0">
        <table class="table">
          <tr>
            <th>{{ 'Branch' | translate}}</th>
            <th></th>
          </tr>
          <tr *ngFor="let branchId of this.promotion.branches">
            <td>{{getBranchNameForId(branchId)}}</td>
            <td>
              <button class="pull-right btn btn-trans danger"
                      (click)="onDeleteBranchClicked(branchId)">
                {{"Delete branch" | translate}}
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>
